@import "tailwindcss";

@theme {
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
}

@layer base {
  html, body {
    @apply antialiased bg-neutral-50 text-slate-800;
  }
}
